<html>
<head>

    <title>无涯有书</title>
</head>
<body style="margin:0px;">
    <style type="text/css">
        .kuan {
            width: 500px;
            height: 38px;
            float: left;
        }

        .an {
            width: 120px;
            height: 42px;
            float: right;
        }

        a:hover {
            color: red;
        }

        a {
            text-decoration: none;
        }
      
    </style>
    <form id="form1" >
        <div style="background-color:black;height:80px;width:100%">

            <ul style="display:block;position:relative; display:block;text-align:center;font-size:16px;line-height:60px;padding:20px 20px;margin-left:150px">
                <li style="float:left;list-style:none;width:80px;"><a href="index.html" style="color:white;text-decoration:none">首页</a></li>
                <li style="float:left;padding-left:20px;list-style:none;width:80px;"><a href="sale.html" style="color:white;text-decoration:none">热销书籍</a></li>
                <li style="float:left;padding-left:20px;list-style:none;width:80px;"><a href="sale.html" style="color:white;text-decoration:none">促销活动</a></li>
                <li style="float:left;padding-left:10px;list-style:none;width:80px;"><a href="#" style="color:white;text-decoration:none">关于我们</a></li>
                <li style="float:right;padding-left:20px;list-style:none;width:80px;"><a href="#" style="color:white;text-decoration:none">退出</a></li>
                <li style="float:right;padding-left:20px;list-style:none;"><a href="login.html" style="color:white;text-decoration:none">登录</a></li>
                <li style="float:right;padding-right:20px;list-style:none">
                    <img src="images/1.jpg" alt="" style="width:50px; height:50px; border-radius:50%; overflow:hidden;" />
                </li>
            </ul>
        </div>
        <div style="height:700px;">
            
            <div style="float:left;width:13%;height:700px;background-color:lightgray">
                <br />
                <ul>
                    <li style="width:120px;height:50px;text-align:center"><a href="shoppingCart.html">购物车</a></li>
                    <li style="width:120px;height:50px;text-align:center"><a href="myForm.html">订单</a></li>
                    <li style="width:120px;height:50px;text-align:center"><a href="myInformation.html">个人信息</a></li>
                </ul>

            </div>
            <!--中间右侧部分-->
            <div style="float:left;width:85%;/*height:500px;*/">
                <div style="margin-top:30px; margin-left: 50px;width: 1200px; height: 600px; background-color: white; border: 1px solid #d0d0d0;">
                    <div style="position: relative; min-height: 1px; float: left; padding-right: 10px; padding-left: 10px;">
                        <div style="width: 1130px; height: 40px; margin-top: 10px; border-bottom: 2px solid #F0F0F0; border-radius: 2px">
                            <ul style="padding-left: 0; margin-bottom: 0; list-style: none; position: relative;">
                                <li style="float: left; padding-left: 10px; font-size: 20px; font-weight: 300; color: gray;">修改信息</li>
                                <li style="float: right; padding-top: 5px; padding-right: 10px"><a>关闭</a></li>
                                <li style="float: right; padding-top: 5px; padding-right: 10px"><a>设置</a></li>
                                <li style="float: right; padding-top: 5px; padding-right: 10px"><a>收缩</a></li>
                            </ul>
                        </div>

                        <!--信息列表显示-->
                        <div style="margin-top:15px;height:34px;">
                            <div style="float:left;width:300px;text-align:right;padding-top:8px;height:27px;">
                                <label style="font-weight:700;">我的昵称:</label>
                            </div>
                            <div style="float:left; margin-left:5px;width:660px;padding-right: 10px;padding-left: 5px;">
                                <input id="Text1" type="text" name="name" style="display: block;height:42px;padding: 6px 12px;font-size:14px;line-height: 1.42857143;color:#555;background-color:#fff;border: 1px solid #ccc;width:500px;" placeholder="" />
                            </div>
                        </div>
                        <div style="margin-top:15px;height:34px;">
                            <div style="float:left;width:300px;text-align:right;padding-top:8px;height:27px;">
                                <label style="font-weight:700;">旧密码:</label>
                            </div>
                            <div style="float:left; margin-left:5px;width:660px;padding-right: 10px;padding-left: 5px;">
                                <input id="Text1" type="password" name="name" style="display: block;height:42px;padding: 6px 12px;font-size:14px;line-height: 1.42857143;color:#555;background-color:#fff;border: 1px solid #ccc;width:500px;" placeholder="" />
                            </div>
                        </div>
                        <div style="margin-top:15px;height:34px;">
                            <div style="float:left;width:300px;text-align:right;padding-top:8px;height:27px;">
                                <label style="font-weight:700;">新密码:</label>
                            </div>
                            <div style="float:left; margin-left:5px;width:660px;padding-right: 10px;padding-left: 5px;">
                                <input id="Text1" type="password" name="name" style="display: block;height:42px;padding: 6px 12px;font-size:14px;line-height: 1.42857143;color:#555;background-color:#fff;border: 1px solid #ccc;width:500px;" placeholder="" />
                            </div>
                        </div>
                        <div style="margin-top:15px;height:34px;">
                            <div style="float:left;width:300px;text-align:right;padding-top:8px;height:27px;">
                                <label style="font-weight:700;">再次输入:</label>
                            </div>
                            <div style="float:left; margin-left:5px;width:660px;padding-right: 10px;padding-left: 5px;">
                                <input id="Text1" type="password" name="name" style="display: block;height:42px;padding: 6px 12px;font-size:14px;line-height: 1.42857143;color:#555;background-color:#fff;border: 1px solid #ccc;width:500px;" placeholder="" />
                            </div>
                        </div>
                        <div style="margin-top:15px;height:34px;">
                            <div style="float:left;width:300px;text-align:right;padding-top:8px;height:27px;">
                                <label style="font-weight:700;">头像:</label>
                            </div>
                            <div style="float:left;margin-left:5px;padding-right:10px;padding-left:5px;">
                                <input id="File1" type="file" style="display: block;height:42px;padding: 6px 12px;font-size:14px;line-height: 1.42857143;color:#555;background-color:#fff;border: 1px solid #ccc;width:500px;" />
                            </div>
                        </div>
                        <div style="margin-top:15px;height:34px;">
                            <div style="float:left;width:300px;text-align:right;padding-top:8px;height:27px;">
                                <button class="btn btn-primary btn-block">确认修改</button>
                            </div>
                            
                        </div>
                       
                        <div style="margin-top:15px;float:left">

                        </div>
                    </div>
                </div>

            </div>


        </div>
</form>
</body>
</html>