<html >
<head >
    
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <form action='' method='POST' id="form1" runat="server">
        <form id="form1" runat="server">
             <div style="background-color:black;height:80px;width:100%">

            <ul style="display:block;position:relative; display:block;text-align:center;font-size:16px;line-height:60px;padding:20px 20px;margin-left:150px">
                <li style="float:left;list-style:none;width:80px;"><a href="{{url_for('index')}}" style="color:white;text-decoration:none">首页</a></li>
                <li style="float:left;padding-left:20px;list-style:none;width:80px;"><a href="{{url_for('sale')}}" style="color:white;text-decoration:none">热销书籍</a></li>
                <li style="float:left;padding-left:20px;list-style:none;width:80px;"><a href="{{url_for('sale')}}" style="color:white;text-decoration:none">促销活动</a></li>
                <li style="float:left;padding-left:10px;list-style:none;width:80px;"><a href="#" style="color:white;text-decoration:none">关于我们</a></li>
                <li style="float:right;padding-left:20px;list-style:none;width:80px;"><a href="{{url_for('regist')}}" style="color:white;text-decoration:none">注册</a></li>
                <li style="float:right;padding-left:20px;list-style:none;"><a href="{{url_for('login')}}" style="color:white;text-decoration:none">登录</a></li>
                <li style="float:right;padding-right:20px;list-style:none">
                    <img src="images/1.jpg" alt="" style="width:50px; height:50px; border-radius:50%; overflow:hidden;"/>
                </li>
            </ul>
        </div>
            <div style="margin-top: 30px; margin-left: 170px;width: 1200px; height: 500px; background-color: white; border: 1px solid #d0d0d0;">

                <div style="position: relative; min-height: 1px; float: left; padding-right: 10px; padding-left: 10px;">

                    <div style="width: 1130px; height: 40px; margin-top: 10px; border-bottom: 2px solid #F0F0F0; border-radius: 2px">

                        <ul style="padding-left: 0; margin-bottom: 0; list-style: none; position: relative;">
                            <li style="float: left; padding-left: 10px; font-size: 20px; font-weight: 300; color: gray;">注册界面</li>
                        </ul>
                    </div>
                    <div style="margin-top:5px;">
                        <div style="float:left;padding-top:40px;padding-left:300px">

                            <div class='form-container' align="middle">
                                <div class="form-group">

                                    <label for="exampleInputEmail1">用户名</label>
                                    <input id="Text1" type="text" class="form-control" placeholder="请输入您的用户名" name="username" style="width:500px" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">密码</label>
                                    <input id="mima" type="password" class="form-control" placeholder="请输入您的密码" name="password1" style="width:500px" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">确认密码</label>
                                    <asp:TextBox ID="twicemima" runat="server" TextMode="Password"></asp:TextBox>
                                    <input id="twicemima" type="password" class="form-control" placeholder="请再次输入您的密码" name="password2" style="width:500px" />
                                </div>
                                <div class="form-group">
    <button class="btn btn-primary btn-block">注册</button>

                            </div>

                    </div>
                </div>


        </form>
        
    </form>
</body>
</html>